<% if Rails.configuration.wowza_enabled
  solr_document = file_set
  solr_document = file_set.solr_document if (file_set.respond_to? :solr_document)

  parent_id = parent.id if defined?(parent) && !parent.nil?
  fedora_file = solr_document['service_file_digest_ssim'].first.split(':')[-1] if !solr_document['service_file_digest_ssim'].nil?

  file_ext = 'mp3'
  file_ext = solr_document['label_tesim'].first.split('.')[-1] if solr_document['label_tesim'].first

  wowzaURL = wowza_url(parent_id, file_set.id, fedora_file, file_ext, request.ip)
%>
  <% if wowzaURL != nil %>
    <div id="dams-audio">Loading the player...</div>

    <script type="text/javascript">
      jwplayer("dams-audio").setup({
        playlist:
          [{
            sources:
              [
                {file: "http://<%=wowzaURL%>/playlist.m3u8"}
              ]
           }],
        width: "100%",
        height: 60,
        rtmp: {bufferlength: 3},
        analytics: {enabled: false}
      });
    </script>
  <% end %>
<% else %>
  <audio controls="controls" class="audiojs" preload="auto">
    <source src="<%= main_app.download_path(file_set, file: 'service_file') %>" type="audio/mpeg" />
    Your browser does not support the audio tag.
  </audio>
<% end %>

