  <ul class="dropdown-menu">
      <li><%= link_to(
            "New Agent",
            "/records/new?utf8=%E2%9C%93&type=Agent&commit=Next",
            class: "item-option contextual-quick-classify new-authorities",
            role: 'menuitem'
          ) %>
      </li>
      <li><%= link_to(
            "New Subject",
            "/records/new?utf8=%E2%9C%93&type=Concept&commit=Next",
            class: "item-option contextual-quick-classify new-authorities",
            role: 'menuitem'
          ) %>
      </li>
      <li><%= link_to(
            "New Place",
            "/records/new?utf8=%E2%9C%93&type=Place&commit=Next",
            class: "item-option contextual-quick-classify new-authorities",
            role: 'menuitem'
          ) %>
      </li>
      <li><%= link_to(
            "New Resource Type",
            "/records/new?utf8=%E2%9C%93&type=ResourceType&commit=Next",
            class: "item-option contextual-quick-classify new-authorities",
            role: 'menuitem'
          ) %>
      </li>
  </ul>

