<ul class="dropdown-menu">
      <li><%= link_to(
            "Creator", "/catalog/facet/creator_sim?facet.sort=index",
            class: "item-option contextual-quick-classify new-browsing",
            role: 'menuitem'
          ) %>
      </li>
      <li><%= link_to(
            "Topic", "/catalog/facet/topic_sim?facet.sort=index",
            class: "item-option contextual-quick-classify new-browsing",
            role: 'menuitem'
          ) %>
      </li>
      <li><%= link_to(
            "Format", "/catalog/facet/resource_type_sim?facet.sort=index",
            class: "item-option contextual-quick-classify new-browsing",
            role: 'menuitem'
          ) %>
      </li>
  </ul>

