<div class="base-terms">
    <%= render 'form_member_of_collections', f: f %>

    <% license_service = Hyrax::LicenseService.new %>
    <%= f.input :rights, as: :select,
        collection: license_service.select_active_options,
        include_blank: true,
        item_helper: license_service.method(:include_current_value),
        input_html: { class: 'form-control' } %>

    <div class="with-headroom" style="padding-bottom:25px;">
        <label>Metadata Source</label><br />
        <div class="btn btn-success fileinput-button">
            <span class="glyphicon glyphicon-plus"></span>
            <span>Source file...</span>
            <input id="source_metadata" type="file" name="source_metadata">
        </div>
    </div>

</div>

