http_proxy="http://avproxy.ucsd.edu:3128"
https_proxy="http://avproxy.ucsd.edu:3128"
ftp_proxy="ftp://avproxy.ucsd.edu:3128"
HTTP_PROXY="http://avproxy.ucsd.edu:3128"
HTTPS_PROXY="http://avproxy.ucsd.edu:3128"
FTP_PROXY="ftp://avproxy.ucsd.edu:3128"
