export http_proxy="http://avproxy.ucsd.edu:3128"
export https_proxy="http://avproxy.ucsd.edu:3128"
export ftp_proxy="ftp://avproxy.ucsd.edu:3128"
export HTTP_PROXY="http://avproxy.ucsd.edu:3128"
export HTTPS_PROXY="http://avproxy.ucsd.edu:3128"
export FTP_PROXY="ftp://avproxy.ucsd.edu:3128"
