/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 
 *= require 'blacklight_advanced_search'

*/
ul.component_list { list-style-type: none; padding-left:10px; padding-bottom:0; margin:2px;}
tr.attributes td a img {width:25px; height:25px;}
.col-md-1 {width: 80px;}
.col-md-5 {width: 364px;}
div.row {margin:0px 10px; padding: 4px 0px 2px 0px; }
li > div.row {background-color: #eee;}
.form-group.time_span ul.listing {list-style-type: none; padding: 0; margin: 0; max-width: 530px}
.form-group.multi_value ul.listing {list-style-type: none; padding: 0; margin: 0; max-width: 535px}
.object_resource_visibility_after_embargo {visibility: hidden;}
.open_seadragon_widget {display: none; position: relative;}